body {
	height: 100%;
	margin: 0;
	text-align: center;
    width: 100%;
    background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
}

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: #7fffd4;
}

h2 {
	font-size: 56px;
}


.mid_text {
	padding: 250px 0;  
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-size: cover;
  color: #ffffff;
}


p {
  font-size: 2rem;

}

#footer {
  color: #ffffff;
  font-size: .75rem;
}